<div role="mashead" ng-controller="HomeCtrl">
<div role="utilities">
    	<ul>
        	<li><a href="#/login" class="logout">logout</a></li>
        	<li><span class="notification">5</span> notifications</li>
        	<li>welcome <a href="#" id="username">{{usernameScope}}</a></li>
        </ul>
	</div>
    <div class="CC-title"></div>
    
</div>

<div role="navigation">
	<ul >
		<li><a href="#/home" id="deskHomeBtn">Home</a></li>
		<li><a href="#">Instance Management</a></li>
		<li><a href="#">Case Administration</a></li>
		<li><a href="#">Supervisor</a></li>
		<li><a href="#">Reports</a></li>  
        <div id="quick-search">
			<span>
            	<form>
                	<input type="button" class="search-btn">
					<input type="text" name="quicksearch">
				</form>
            </span>
       		<span>Quick Search</span>
        </div>  
	</ul> 
</div>
<div class="content-wrapper">
	<div class="content-holder">
		<div class="title-holder">
			<span class="title">Case Administration</span>
		</div>
        <!-- FILTER GRIG ---------------------------------------------------------------------->
		<div class="filter-holder">
        
        <div class="title-holder title-small">Filters</div>

			<div class="k-content" ng-controller="AdminMainFilterCtrl">
            
            	<div>
                
					<input kendo-date-picker ng-model="dateString"  k-ng-model="dateObject" />
					
            	</div>
            
            	<div>
					<ul class="multi-select">
                		<li >
                			<span>RFS Source Type:</span>
        					<select kendo-multi-select k-options="RFSSourceType"></select>
                		</li>
        				<li >
                			<span>RFS Type:</span>
        					<select  kendo-multi-select k-options="RFSType"></select>
                		</li>
                		<li>
                			<span>Case Type:</span>
        				<select kendo-multi-select k-options="caseType"></select>
                		</li>
                    	<li>
                			<span>Media Status:</span>
        					<select kendo-multi-select k-options="mediaStatus"></select>
                		</li>
            		</ul>
                </div>
   			</div>
         </div>
		<!-- DATA GRIG ---------------------------------------------------------------------->
		<div role="datagrid" class="grid-holder" >
			<div ng-controller="AdminMainResultCtrl">
				<jqx-grid jqx-settings="gridSettings" jqx-alt-rows="true"></jqx-grid>
			</div>  
		</div>
	</div>
</div>


