
<div class="content-wrapper">
	<div class="content-holder">
		<div class="title-holder">
			<span class="title">Case Administration</span>
		</div>
        <!-- DATE RANGE ---------------------------------------------------------------------->
		<div class="filter-holder">
        	<div class="row-holder title-small" style="padding: 10px 0 0px 20px">Select an other received date range:</div>
			<div class="row-holder" ng-controller="DatePickerCtrl" style="padding: 15px 0 20px 20px">
				<form name="dateRange-frm" ng-submit="changeDateRange()" role="form">
					<span class="labelText" style="padding: 0 5px 0 0px" >From:</span> 
					<input kendo-date-picker k-ng-model="startingDate" /> 
					<span class="labelText" style="padding: 0 5px 0 20px">to:</span> 
					<input kendo-date-picker k-ng-model="endingDate"/>
					<span style="padding: 0 5px 0 20px">
						<kendo-button  ng-model="button" class="k-button">SUBMIT</kendo-button>
					</span>
                    <!-- <span  class="labelText" style="padding: 0 0px 0 40px" >Found:</span>
                     <span class="title-small" >{{numRecords}} records</span>
                     <span  class="labelText" >within date range</span>-->
				</form>
               
			</div> 	
		</div>
		<!-- DATA GRIG ---------------------------------------------------------------------->
      <!--  <div class="row-holder title-small" style="padding: 0px 0 0px 0px">
        	<span>Export to PDF</span>
        	<span>Print</span>
        	<span>Email</span>
        </div>-->
		<div role="datagrid" class="grid-holder"  ng-controller="CaseAdminCtrl">
			<div>
				<div kendo-grid="mainGrid" k-options="mainGridOptions" k-rebind="mainGridOptions"  k-ng-delay="mainGridOptions"> </div>
			</div>  
		</div>
	</div>
</div>


