<div role="mashead" ng-controller="HomeCtrl">
<div role="utilities">
    	<ul>
        	<li><a href="#/login" class="logout">logout</a></li>
        	<li><span class="notification">5</span> notifications</li>
        	<li>welcome <a href="#" id="username">{{usernameScope}}</a></li>
        </ul>
	</div>
    <div class="CC-title"></div>
    
</div>

<div role="navigation">
	<ul >
		<li><a href="../home/index.html" id="deskHomeBtn">Home</a></li>
		<li><a href="../home/issues.html">Instance Management</a></li>
		<li><a href="../home/resources.html">Case Administration</a></li>
		<li><a href="#">Supervisor</a></li>
		<li><a href="#">Reports</a></li>  
        <div id="quick-search">
			<span>
            	<form>
                	<input type="button" class="search-btn">
					<input type="text" name="quicksearch">
				</form>
            </span>
       		<span>Quick Search</span>
        </div>  
	</ul> 
</div>
<!--<script>
	function logout(){

		$('#CC-masthead').animate({'opacity' : 0}, 200, function(){
			$(this).css({'display' : 'none'});
			$('#CC-login').css({'display' : 'block'});
			$('#CC-login').animate({'opacity' : 1}, 200, function(){
		 	});
		 });
	}
</script>

           -->  
