@charset "utf-8";

//  VARIABLES 			==============================
@import "CC-variables.less";
@import "mixins.less";
@import "CC-mixins.less";

.k-button {
	background-color:rgb(255,255,255);
	.vertical(@white, @lightgradientendcolor);
	border:solid 1px @lightblue;
}

.k-button:hover, .k-button.k-state-hover, .k-item:hover, k-state-focus.k-state-hover, .k-multiselect.k-header.k-state-hover{
	.hover-btn;

}

.k-textbox:hover {
	border:solid 1px @lightblue;
}


.k-multiselect-wrap {
	background-image:url(../images/blueArrow-down.png);
	background-position:right top;
	background-repeat:no-repeat;
	background-size: 20px 20px;
}

 .k-picker-wrap .k-state-default {

	
}

.k-ff input.k-textbox, input.k-textbox  {
    height: 2.0em;
	float:left;
}


.k-button {
	font-family: 'amaranth';
	letter-spacing: 0.05em;
	font-size: 16px;
	color: @buttontextcolor;
	padding: 2px 13px 2px 13px;
}

.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle, .k-treemap-tile, html .km-pane-wrapper .k-header {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecf2fa), to(#d4ddea));
	background-image: -webkit-linear-gradient(top, #3b4ecf2faa57, #d4ddea);
	background-color: #ecf2fa;
	background-image: -moz-linear-gradient(top, #ecf2fa, #d4ddea);
	background-image: -ms-linear-gradient(top, #ecf2fa, #d4ddea);
	background-image: -o-linear-gradient(top, #ecf2fa, #d4ddea);
	background-image: linear-gradient(top, #ecf2fa, #d4ddea);
	background-repeat: repeat-x;
}

.k-menu.k-header, .k-menu .k-item, .k-textbox, .k-autocomplete.k-header, .k-dropdown-wrap.k-state-active, .k-picker-wrap.k-state-active, .k-numeric-wrap.k-state-active {
    border-color:  @bordergray;
}

.home-menu-btn{
	
	background-image: url(../images/new-home-icn.png);
	background-repeat:no-repeat;
	background-position: 0px 0px;
	background-size: 15px 14px;	
}
.sub-menu {
	text-align:left;	
	background-color: @dirtywhite;
	border-bottom: solid 1px  @bordergray !important;
	border-top: solid 1px  @white !important;
}

